{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="mt-5 mb-4">Explorar Libros</h2>
        <div class="row">
            {% for libro in libros %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <img src="{{ libro.portada_url }}" class="card-img-top" alt="{{ libro.titulo }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ libro.titulo }}</h5>
                            <p class="card-text">Autor: {{ libro.autor.nombre }}</p>
                            <a href="#" class="btn btn-primary">Ver Detalles</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}